    </div>
    <div style="height:100px; margin-top: 50px; background-color:#ac4142">
      <div class="container" style="height:100%; display:flex;align-items:center;color: white;justify-content:space-between;font-family: 'PT Sans', Helvetica, Arial, sans-serif;">
        <a href="https://moiva.io/" target="_blank" style="color: white">Moiva.io</a>
        <a href="/" target="_blank" style="color: white">GitHub</a>
        <a href="https://twitter.com/_aantipov" target="_blank" style="color: white">Twitter</a>
      </div>
    </div>
  </body>
</html>
