<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!--  Remove it once the blog is ready  -->
  <meta name="robots" content="noindex">

  <title>
    {{ if .IsHome }}
    A Blog Of Moiva.io
    {{ else }}
    {{ .Title }} &middot; {{ .Site.Params.Title }}
    {{ end }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/blog/css/poole.css">
  <link rel="stylesheet" href="/blog/css/syntax.css">
  <link rel="stylesheet" href="/blog/css/lanyon.css">
  {{- if not .Site.Params.disableFonts }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
  {{- end }}
  {{- range .Site.Params.customCSS }}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{- end }}
  <style type="text/css" media="screen">
    html,
    body {
      height: 100%;
      min-height: 640px;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    .content {
      flex: 1 0 auto;
    }

    .footer {
      flex-shrink: 0;
    }

    .masthead {
      margin-bottom: 2rem;
    }
  </style>

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/blog/favicon/apple-touch-icon.png?v=lkvYMB9erB" />
  <link rel="icon" type="image/png" sizes="32x32" href="/blog/favicon/favicon-32x32.png?v=lkvYMB9erB" />
  <link rel="icon" type="image/png" sizes="16x16" href="/blog/favicon/favicon-16x16.png?v=lkvYMB9erB" />
  <link rel="manifest" href="/blog/favicon/site.webmanifest?v=lkvYMB9erB" />
  <link rel="mask-icon" href="/blog/favicon/safari-pinned-tab.svg?v=lkvYMB9erB" color="#404040" />
  <link rel="shortcut icon" href="/blog/favicon/favicon.ico?v=lkvYMB9erB" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-config" content="/blog/favicon/browserconfig.xml?v=lkvYMB9erB" />
  <meta name="theme-color" content="#ffffff" />

  <script async defer data-domain="moiva.io" src="https://plausible.io/js/plausible.js"></script>
</head>
